.vscode/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package.json
webview-ui/tsconfig.json
webview-ui/vite.config.ts
docs/**
node_modules/**
.gitignore
tsconfig.json
esbuild.mjs
**/*.map
